In [7]:
import pandas as pd

#excel file
excel_path = '/content/dataset3.xlsx'
df = pd.read_excel(excel_path)

# Read CSV file
csv_file = pd.read_csv("/content/dataset1.csv")

# Read TSV file
tsv_file = pd.read_csv("/content/dataset2.txt")

# Read through URL
url = "/content/dataset1.csv"
a = pd.read_csv(url)

print("CSV File:")
print(csv_file)
print("")

print("TSV File:")
print(tsv_file)
print("")

print("Excel File:")
print(df)
print("")

print("URL File:")
print(a)

CSV File:
       Name  Age           City  Salary
0      John   25       New York   50000
1      Jane   30  San Francisco   75000
2      Alex   28    Los Angeles   60000
3     Emily   32        Chicago   80000
4   Michael   27        Houston   55000
5  Samantha   29          Miami   65000
6     David   31        Seattle   70000
7    Olivia   26         Boston   55000
8   William   33         Dallas   75000

TSV File:
   Student_ID\t Age\t City\t GPA
0       1001\t20\t New York\t3.5
1    1002\t21\t Los Angeles\t3.2
2        1003\t22\t Chicago\t3.8
3  1004\t23\t San Francisco\t3.4
4          1005\t20\t Miami\t3.7
5        1006\t22\t Seattle\t3.9
6         1007\t21\t Austin\t3.1
7         1008\t24\t Denver\t3.6
8       1009\t23\t Portland\t3.3
9        1010\t22\t Phoenix\t3.8

Excel File:
   Event_ID  Start_Time   End_Time            Location
0      2001    09:00 AM   11:00 AM   Conference Room A
1      2002    02:30 PM   04:30 PM          Auditorium
2      2003    10:00 AM   12:00 PM      Meeting Room B
3      2004    01:00 PM   03:00 PM       Workshop Hall
4      2005    11:30 AM   01:30 PM     Training Room C
5      2006    03:30 PM   05:30 PM        Seminar Hall
6      2007    09:30 AM   11:30 AM           Boardroom
7      2008    12:30 PM   02:30 PM     Exhibition Area
8      2009    02:00 PM   04:00 PM       Breakout Room
9      2010    10:30 AM   12:30 PM              Lounge

URL File:
       Name  Age           City  Salary
0      John   25       New York   50000
1      Jane   30  San Francisco   75000
2      Alex   28    Los Angeles   60000
3     Emily   32        Chicago   80000
4   Michael   27        Houston   55000
5  Samantha   29          Miami   65000
6     David   31        Seattle   70000
7    Olivia   26         Boston   55000
8   William   33         Dallas   75000